<!-- Section - Blog -->
<section class="lui-section lui-gradient-top" id="blog-section">
   
    <div class="lui-heading">
        <div class="container">
    
          <div class="m-titles align-center">
            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
              <span>My Activity</span>
            </h2>
            <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
              <span>Wakatime Dashboard</span>
            </div>
          </div>
    
        </div>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <figure ><embed class="rounded-3" src="https://wakatime.com/share/@93b02f8a-f36e-429d-aa5a-8e8c3b9aaf1d/cc8fa8ea-f48e-4ae6-8970-90cba32501aa.svg"></embed></figure>
            </div>
            <div class="col-lg-6 col-md-12">
                <figure><embed class="rounded-3" src="https://wakatime.com/share/@93b02f8a-f36e-429d-aa5a-8e8c3b9aaf1d/75d18aa7-e33a-4f09-a7f7-bdfff8cfb25f.svg"></embed></figure>
            </div>
        </div>
    </div>

    <div class="lui-bgtitle">
        <span>My Activity</span>
      </div>

</section>