<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <meta property="og:title" content="Sijan Malla | Portfolio" />
  <meta property="og:type" content="portfolio website" />
  <meta property="og:url" content="https://sijancodes.com" />
  <meta property="og:image" content="https://sijancodes.com/assets/img/works/portfolio%20website.jpg" />
{%- include head.html -%}

{% assign settings = site.data.settings['settings'] %}

<body class="
    {% if page.layout == 'builder' %} home{% endif %}
    {% if page.layout == 'blog' or page.layout == 'archive' %} blog{% endif %}
    {% if page.layout == 'post' or page.layout == 'works-single' or page.layout == 'page' or page.layout == 'error' %} page{% endif %}
    {% if settings.skin == 'light' %} light-skin{% endif %}{% if settings.skin == 'dark' %} dark-skin{% endif %}
    ">

  <div class="container-page ">

    {%- include preloader.html -%}

    {%- include header.html -%}

    <!-- Wrapper -->
    <div class="
      wrapper
      {% if page.layout == 'works-single' or page.layout == 'page' %} portfolio-template{% endif %}
      {% if page.layout == 'post' %} single-post{% endif %}
      ">
      {{ content }}
    </div>

    {%- include footer.html -%}

  </div>

  <!-- cursor -->
  <div class="cursor"></div>

  {%- include scripts.html -%}

</body>

</html>