---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

{% if page.author == nil %}
{% assign author = site.author %}
{% else %}
{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">
	<div class="container">

		<!-- Heading -->
		<div class="m-titles align-center">
			<div class="m-category scrolla-element-anim-1 scroll-animate" data-animate="active">
				<a href="blog.html">Branding</a>, <a href="blog.html">UI Design</a>
				{% assign cat_size = page.category | size %}
				{% if cat_size != 0 %}
				{% for category in page.category %}
				<a
					href="{{ '/categories' | relative_url }}/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{
					category }}</a>{% if page.category.last != category and page.category.last != nil %},{% endif %}
				{% endfor %}
				{% endif %}
				/ {{ page.date | date: site.date_format }} / {{ ui_text.by }} <span class="author">{{ author }}</span>
			</div>
			<h1 class="m-title scrolla-element-anim-1 scroll-animate" data-animate="active">
				{{ page.title }}
			</h1>
		</div>

	</div>
</section>

<!-- Single Post Image -->
<div class="section section-inner m-image-large">
	<div class="container">
		<div class="v-line-right v-line-top">
			<div class="v-line-block"><span></span></div>
		</div>
	</div>
	<div class="image">
		{% if page.full_image != nil %}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active"
			style="background-image: url({{ page.full_image | relative_url }});"></div>
		{% else %}
		<div class="img scrolla-element-anim-1 scroll-animate" data-animate="active"
			style="background-image: url({{ page.image | relative_url }});"></div>
		{% endif %}
	</div>
</div>

<!-- Section - Blog -->
<section class="section section-inner m-archive">
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 offset-1">

				<!-- content -->
				<div class="description">
					<div class="post-content scrolla-element-anim-1 scroll-animate" data-animate="active">
						{{ page.content }}
						{% assign tags_size = page.tags | size %}
						{% if tags_size != 0 %}
						<span class="tags-links">
							<span>{{ ui_text.tags }}:</span>
							{% for tag in page.tags %}
							<a href="{{ '/tags' | relative_url }}/{{ tag | downcase | url_escape | strip | replace: ' ', '-' }}"
								rel="tag">{{- tag -}}</a>
							{% endfor %}
						</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		<div class="v-line-left v-line-top">
			<div class="v-line-block"><span></span></div>
		</div>

	</div>
</section>