---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

{% if page.author == nil %}
{% assign author = site.author %}
{% else %}
{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">

	<!-- Heading -->
	<div class="container">
		<div class="m-titles align-left">
			<h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
				<span>{{ page.title }}</span>
			</h1>
			<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
				<span>{{ page.category }}</span>
			</div>
		</div>
	</div>

	<!-- Details -->
	<div class="v-line v-line-right v-line-top">
		<div class="container">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

					<div class="m-details">
						{% for info in page.info %}
						<div class="details-label">
							<span>{{ info.label }}</span>
							<strong><span>{{ info.value }}</span></strong>
						</div>
						{% endfor %}
						<div class="details-label">
							<span>{{ ui_text.categories }}</span>
							<strong><span>{{ page.category }}</span></strong>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 align-right">

					<a target="_blank" href="{{ page.preview_url }}" class="btn scrolla-element-anim-1 scroll-animate"
						data-animate="active">
						<span>{{ ui_text.live_preview }}</span>
					</a>

				</div>
			</div>

		</div>
	</div>

</section>

{% if page.full_image != nil %}
<!-- Section - Image -->
<div class="section section-inner">

	<!-- Image -->
	<div class="m-image-large">
		<div class="image">
			<div class="img js-parallax" style="background-image: url({{ page.full_image | relative_url }});"></div>
		</div>
	</div>

</div>
{% endif %}